body {
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    margin: auto;
    background: linear-gradient(0.3turn, #41b3a3, whitesmoke);
    color: #e8a87c;
    color: #41b3a3;
    color: #c38d9e;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

footer {
    max-height: 10vh;
    min-height: 10vh;
    text-align: center;
    position: relative;
}

.social {
    position: absolute;
    right: 0;
    top: 0;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    /* background-color: #316879; */
    height: 90vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

#left {
    padding-left: 20px;
    font-size: larger;
}

.nav-option {
    display: flex;
    flex-direction: column;
}

.nav-option :hover {
    border-bottom: solid 3px #e8a87c;
}

.nav-option > a {
    text-decoration: none;
    color: inherit;
    margin: 10px 0;
}

#right {
    color: #e8a87c;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 20px;
    min-width: 70vw;
    max-width: 70vw;
}

#logo {
    font-size: 50px;
}

.promote {
    font-size: larger;
}

.device {
    border: solid 1px black;
    max-width: 100%;
    max-height: 30%;
    min-width: 100%;
    min-height: 30%;
}

.control-feature {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid 1px black;
    max-width: 100%;
    max-height: 60%;
    min-width: 100%;
    min-height: 60%;
    text-align: center;
}

#control {
    padding: 20px;
    max-width: 50%;
    min-width: 45%;
    max-height: 100%;
    min-height: 100%;
    border-right: solid 3px;
}

#history {
    padding: 20px;
    max-width: 50%;
    min-width: 45%;
    max-height: 100%;
    min-height: 100%;
    border-left: solid 3px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
input:checked + .slider {
    background-color: #5bccf6;
}
input:focus + .slider {
    box-shadow: 0 0 1px #5bccf6;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

.fa {
    padding: 10px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3b5998;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}
